@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    .section-6 {
        background-position: -400px; 
        i {
            margin-left: 706px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.section-6 {
        background-position: -600px; 
        i {
            margin-left: 506px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.section-6 {
        background-position: -800px; 
        i {
            margin-left: 306px;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.section-6 {
        background-position: -1000px; 
        i {
            margin-left: 106px;
        }
        .contacts {
            margin-right: 45px;
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}
